@import "tailwindcss";

:root {
  --primary: #4c3396;
  --secondary: #9a88f9;
  --accent: #c7f703;
  --font: #290b4e;
  --black: #131400;
  --white: #f9f9fb;
  --blue: #e4f3ff;
  --light-gray: #e6e0eb80;
  --grey: #8c8198;
}

@media screen and (max-width: 375px) {
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-font: var(--font);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-blue: var(--blue);
  --color-light-gray: var(--light-gray);
  --color-gray: var(--gray);
  --font-lora: var(--lora);
  --font-lexend: var(--lexend);
}

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-white text-font;
  }
}

@layer components {
  .gradient-1 {
    background: linear-gradient(to right, #e4f2fd, #f7f7fa);
  }

  .gradient-2 {
    background: linear-gradient(to right, #c2acfd, #f2effa);
  }
}
