@import "tailwindcss";

:root {
  --primary: #4c3396;
  --secondary: #9a88f9;
  --accent: #c7f703;
  --font: #290b4e;
  --black: #131400;
  --white: #f9f9fb;
  --blue: #e4f3ff;
}

@media screen and (max-width: 375px) {
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-font: var(--font);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-blue: var(--blue);
  --font-lora: var(--lora);
  --font-lexend: var(--lexend);
}

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-white text-font;
  }
}

.gradient-1 {
  @apply bg-linear-to-r from-[#E4F2FD] to-[#F7F7FA];
}

.gradient-2 {
  @apply bg-linear-to-r from-[#C2ACFD] to-[#F2EFFA];
}
